node_modules/
.DS_Store
*.log
.env
dist/
build/
bin/
obj/
.vscode/
.idea/
*.suo
*.ntuser.dat*
*.LOG1
*.LOG2
*.ini
*.bak
*.dwg
*.zip
*.msi
*.exe
*.pbix
*.lnk
*.svg
*.png
*.jpg
*.jpeg
*.webp
*.mp4
*.MOV
*.wav
*.mp3
brain/
.gemini/
